body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'interstate';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Interstate-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'interstateLight';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./assets/fonts/Interstate-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'interstateBold';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./assets/fonts/Interstate-Bold.woff2') format('woff2');
}

.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
  background-color: #497EB3 !important;
}

.alice-carousel__dots-item {
  background-color: #C4C4C4 !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: #fff !important;
}